@mainColor: rgb(54, 65, 68);

#draft-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .leftContainer,
  .rightContainer {
    margin: 35px 10px;
  }
  .leftContainer {
    width: 50%;
  }
  .rightContainer {
    width: 35%;
  }
}

#heroSearch {
  margin: 0 auto 0.3em;
  width: 200px;
  color: black;
  // max-width: 400px;
}

.heroIconsContainer {
  // background-color: @mainColor;
  display: flex;
  flex-flow: row wrap;

  img:hover {
    transform: scale(1.35);
  }
  .heroIconDraft {
    width: 60px;
    margin: 3px;
  }
  .unselectable {
    filter: grayscale(100%) brightness(0.75);
    &:hover {
      transform: scale(1);
    }
  }
  .banned {
    filter: grayscale(100%);
    &:hover {
      transform: scale(1);
    }
  }
  .matchSearch {
    transform: scale(1.28);
    border: 2px solid rgb(255, 255, 255);
    z-index: 10;
    filter: contrast(115%);
  }
  .doesNotMatchSearch {
    filter: grayscale(70%);
  }
}

.heroSelection {
  margin-bottom: 55px;
  height: 150px;

  .heroSelected {
    width: 150px;
    // float: right;
  }
}

.teamsContainer {
  height: 350px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singleTeamContainer {
  // text-align: left;

  &Heroes {
    min-width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    .heroOnTeam {
      width: 90px;
      margin: 4px 0;
    }
  }
}

.matchupContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .individualMatchupCont {
    margin: 0.5em;
    height: fit-content;
    min-width: 250px;
    max-width: 500px;
    text-align: center;
    padding: 8px 10px;
    background-color: @mainColor;
  }
}

.tmpCenter {
  width: fit-content;
  margin: 5px auto;
}

.heroInMatchupList {
  margin: 6px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 50px;
  }
  svg {
    margin-left: 5px;
    cursor: pointer;
  }
}

.teamRecommendationsHeader {
  margin-bottom: 0.4em;
}

.matchupListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;
  h3 {
    margin: 0;
  }
  svg {
    cursor: pointer;
  }
}

.matchupDetails {
  
  .matchupDetailsItem {

  }
}
