@import "colors.less";

#draft-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .leftContainer {
    margin: 23px 5px;
    background: @grayDark;
    width: 50%;
    padding: 9px 5px 10px;
  }
  .rightContainer {
    margin: 11px 3px 23px;
    width: 35%;
    padding: 12px 7px;
  }
}

#heroSearch {
  @searchBoxWidth: 190px;
  margin: 0 auto 0.3em;
  width: @searchBoxWidth;
  margin-bottom: 5px;
  #heroSearchTextbox {
    width: @searchBoxWidth;
    color: black;
  }
}

.heroIconsContainer {
  // background-color: @grayLight;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  img:hover {
    transform: scale(1.35);
    cursor: pointer;
    border: 1px solid white;
  }
  .heroIconDraft {
    width: 60px;
    margin: 3px;
  }
  .unselectable {
    filter: grayscale(100%) brightness(0.75);
    &:hover {
      transform: scale(1);
      cursor: default;
      border: none;
    }
  }
  .banned {
    filter: grayscale(100%);
    &:hover {
      transform: scale(1);
    }
  }
  .matchSearch {
    transform: scale(1.28);
    border: 2px solid rgb(255, 255, 255);
    z-index: 10;
    filter: contrast(115%);
  }
  .doesNotMatchSearch {
    filter: grayscale(70%);
  }
}

#heroSelectionContainer {
  @heroHeight: 145px;
  @buttonHeight: 2.2em;
  @selectionHeight: calc(@heroHeight + 2.2em);

  margin-bottom: 10px;
  background: @grayDark;
  height: @selectionHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  #selectedHero {
    height: @heroHeight;
    width: 100%;
    white-space: nowrap;
    text-align: center; // temporary until more detailed data is pulled for this display (position, lane, stat, etc)
    padding: 0.5em;
    img {
      margin-top: 3px;
      width: 150px;
    }
  }
  #selectedHeroNone {
    text-align: center;
    * {
      margin: auto auto;
      width: fit-content;
      line-height: @heroHeight; // centers text vertically in div (!)
      font-style: italic;
    }
  }
  #selectionButtons {
    display: flex;
    height: @buttonHeight;
  }
}

.teamsContainer {
  height: 350px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singleTeamContainer {
  // text-align: left;

  &Heroes {
    min-width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    .heroOnTeam {
      width: 90px;
      margin: 4px 0;
    }
  }
}

.matchupContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .individualMatchupCont {
    margin: 0.5em;
    height: fit-content;
    min-width: 250px;
    max-width: 500px;
    text-align: center;
    padding: 8px 10px;
    background-color: @grayLight;
  }
}

.tmpCenter {
  width: fit-content;
  margin: 5px auto;
}

.heroInMatchupList {
  margin: 6px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 50px;
  }
  svg {
    margin-left: 5px;
    cursor: pointer;
  }
}

.teamRecommendationsHeader {
  margin-bottom: 0.4em;
}

.matchupListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;
  h3 {
    margin: 0;
  }
  svg {
    cursor: pointer;
  }
}

.matchupDetails {
  margin: 3px auto 6px;

  .matchupDetailsItem {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 25px;
      margin-right: 8px;
    }
    p {
      font-size: 0.78em;
    }
  }
}
