@import "colors.less";

@dotaLogoSize: 2.65em;
#header {
  background-color: @grayDark;
  padding: 0.8em 0 0.7em;
  width: 100%;
  > div {
    width: fit-content;
    margin: 0 auto;
    img {
      display: inline-block;
      width: @dotaLogoSize;
      height: @dotaLogoSize;
    }
    > div {
      display: inline-block;
      padding-left: 0.6em;
      h1 {
        font-size: 2em;
      }
      h4 {
        margin-left: 0.25em;
        font-size: 0.98em;
      }
    }
  }
}

#footer {
  background-color: @grayDark;
  position: relative;
  bottom: 0;
  padding: 0.5em 0;

  text-align: center;
  color: white;
  font-style: italic;
  a {
    font-style: normal;
    text-decoration: none;
    &:hover {
      color: rgb(187, 183, 193);
      text-decoration: underline;
    }
  }
}
