@import "colors.less";

@dotaLogoSize: 2.6em;
#header {
  background-color: @grayDark;
  padding: 0.8em 0 0.7em;
  width: 100%;
  > div {
    // max-width: 920px;
    width: fit-content;
    margin: 0 auto;
    img {
      display: inline-block;
      width: @dotaLogoSize;
      height: @dotaLogoSize;
      margin-bottom: 0.1em;
    }
    > div {
      display: inline-block;
      padding-left: 0.6em;
      h1 {
        font-size: 2em;
      }
      h4 {
        margin-left: 0.25em;
        font-size: 0.98em;
      }
    }
  }
}

#footer {
  background-color: @grayDark;
  position: relative;
  bottom: 0;
  padding: 0.5em 0;
  text-align: center;
  font-style: italic;
  font-size: 0.87em;
  * {
    color: rgb(233, 228, 236);
  }
  a {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0.25em auto 0.2em;
    font-size: 1.35em;
    font-style: normal;
    text-decoration: none;
    transition: all 0.1s linear;
    p {
      padding-right: 0.25em;
    }
    &:hover {
      color: white;
      // text-decoration: underline;
    }
  }
}
