@import "draft.less";
@import "header.less";
@mainColor: rgb(54, 65, 68);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arial, sans-serif;
  color: whitesmoke;
  button {
    color: black;
  }
}

body {
  background-color: black;
}

#page-container {
  margin-bottom: 2em;
}

#draft-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .leftContainer,
  .rightContainer {
    margin: 35px 10px;
  }
  .leftContainer {
    width: 50%;
  }
  .rightContainer {
    width: 35%;
  }
}
