@mainColor: rgb(54, 65, 68);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arial, sans-serif;
  color: whitesmoke;
  button {
    color: black;
  }
}

body {
  background-color: black;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .leftContainer,
  .rightContainer {
    margin: 35px 10px;
  }
  .leftContainer {
    width: 50%;
  }
  .rightContainer {
    width: 35%;
  }
}

.heroIconsContainer {
  // background-color: @mainColor;
  display: flex;
  flex-flow: row wrap;

  .heroIconDraft {
    width: 60px;
    margin: 3px;
  }
  img:hover {
    transform: scale(1.3);
  }
}

.heroSelection {
  margin-bottom: 55px;
  height: 150px;

  .heroSelected {
    width: 150px;
    // float: right;
  }
}

.teamsContainer {
  height: 200px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singleTeamContainer {
  // text-align: left;

  &Heroes {
    min-width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    .heroOnTeam {
      width: 90px;
      margin: 4px 0;
    }
  }
}

.matchupContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .individualMatchupCont {
    width: 35%;
    text-align: center;
    padding: 8px 10px;
    background-color: @mainColor;
  }
}

.tmpCenter {
  width: fit-content;
  margin: 5px auto;
}

.heroInMatchupList {
  margin: 6px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 50px;
  }
}